<div class="side-bar sticky-top">

  <br>
  <br>
  <br>

  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/big/about/antonio_trento_profile.png" alt="Antonio Trento profile image">
    <div class="card-block">
      <h4 class="card-title">Sanjay and Arvind Seshan</h4>
      <p class="card-text">Passionate about teaching kids to code.</p>
      <p class="card-text">Providing one-source programming lessons.</p>
      <p class="card-text"></p>
      {% include social-block.html %}
    </div>

  </div>


  <div>


  </div>

</div>
