
<!-- Content Area Start -->
<div id="content">
  <!-- tabs-accordions -->
  <div class="tabs-accordions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header-title">
            <h2 class="heading-title text-center">Robot Designs</h2>
          </div>
        </div>
      </div>
      <div class="text">
        <span>To open .lxf flies, download LEGO Digital Designer (LDD). EV3Lessons does not take responsibility for the quality of build instructions provided. If you use any of these designs as a base for a competition, you should document it in your Engineering Journal.</span>
      </div>
      <div class="row">
        <!-- tabs right -->
        <div class="col-sm-11">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab10" role="tab">EV3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab11" role="tab">NXT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab12" role="tab">Sumo</a>
            </li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab10">
              <!-- accordions -->
              <!-- default accordions -->
              {% for post in site.categories.RobotDesigns %}
              {% if post.lang == page.lang and post.searchterms contains "EV3" %}
              {% assign refvalue = i | downcase %}
              {% include postlist.html ref=refvalue %}
              {% assign i = i | plus:1 %}
              {% endif %}
              {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab11">
              {% for post in site.categories.RobotDesigns %}
              {% if post.lang == page.lang and post.searchterms contains "NXT" %}
              {% assign refvalue = i | downcase %}
              {% include postlist.html ref=refvalue %}
              {% assign i = i | plus:1 %}
              {% endif %}
              {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab12">
              {% for post in site.categories.RobotDesigns %}
              {% if post.lang == page.lang and post.searchterms contains "SUMO" %}
              {% assign refvalue = i | downcase %}
              {% include postlist.html ref=refvalue %}
              {% assign i = i | plus:1 %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-60">&nbsp;</div>



  <!-- tabbed accordions -->
  <!-- <div class="col-sm-6">
  <h4 class="sub-title">&nbsp;</h4>
  <div class="panel-group tabbed">
  <div class="panel">
  <div class="panel-heading">
  <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">First Accordion</a>
</div>
<div id="panel4" class="panel-collapse collapse">
<div class="panel-body text-gray">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
</div>
</div>
</div>
</div>
<div class="panel-group tabbed">
<div class="panel">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" href="#panel5">Second Accordion</a>
</div>
<div id="panel5" class="panel-collapse collapse show">
<div class="panel-body text-gray">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
</div>
</div>
</div>
</div>
<div class="panel-group tabbed">
<div class="panel">
<div class="panel-heading">
<a class="panel-title collapsed" data-toggle="collapse" href="#panel6">Third Accordion</a>
</div>
<div id="panel6" class="panel-collapse collapse">
<div class="panel-body text-gray">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
</div>
</div>
</div>
</div>
</div> -->

</div>
</div>
</div>
<!-- tabs-accordions -->
</div>
<!-- Content Area End -->
