
    <!-- Content Area Start -->
    <div id="content">
      <!-- tabs-accordions -->
      <div class="tabs-accordions">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header-title">
                <h2 class="heading-title text-center">Robot Designs</h2>
              </div>
            </div>
          </div>
          <div class="text">
            <span>To open .lxf flies, download LEGO Digital Designer (LDD). EV3Lessons does not take responsibility for the quality of build instructions provided. If you use any of these designs as a base for a competition, you should document it in your Engineering Journal.</span>
          </div>
          <div class="row">
            <!-- tabs right -->
            <div class="col-sm-11">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tab10" role="tab">EV3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab11" role="tab">NXT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab12" role="tab">Sumo</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab10">

                    <!-- accordions -->
                    <div class="row">
                      <!-- default accordions -->
                      <div class="col-sm-11">
                        <!-- <h4 class="sub-title">Accordions</h4> -->
                        <div class="panel-group">
                          <div class="panel">
                            <div class="panel-heading">
                              <a class="panel-title collapsed" data-toggle="collapse" href="#panel1">EV3 Enterprise</a>
                            </div>
                            <div id="panel1" class="panel-collapse collapse">
                              <div class="panel-body text-gray">
                                  EV3 Enterprise is a robot built using parts from the 31313 LEGO® MINDSTORMS® EV3 Set. This robot has a base that only uses 82 pieces. Sensor and motor modules easily snap on to the base robot as the student needs. (The robot has optional instructions for adding a gyro and second color sensor. The infrared can also replaced with the ultrasonic if needed.)
  This robot has been tested and approved by EV3Lessons.com
  Designed by: Sanjay and Arvind Seshan
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-group">
                          <div class="panel">
                            <div class="panel-heading">
                              <a class="panel-title collapsed" data-toggle="collapse" href="#panel2">EV3 Disovery</a>
                            </div>
                            <div id="panel2" class="panel-collapse collapse">
                              <div class="panel-body text-gray">
                                EV3 Discovery is a robot built using parts from the 45544 LEGO® MINDSTORMS® EV3 Set. Sensor and motor modules easily snap on to the base robot as the student needs. (The robot has optional instructions for adding a second color sensor.)
This robot has been tested and approved by EV3Lessons.com
Designed by: Sanjay and Arvind Seshan
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-group">
                          <div class="panel">
                            <div class="panel-heading">
                              <a class="panel-title collapsed" data-toggle="collapse" href="#panel3">Droid Bot 2.0</a>
                            </div>
                            <div id="panel3" class="panel-collapse collapse">
                              <div class="panel-body text-gray">
                                This build replaces Droidbot 1.0.
<br>
<br>
Droid Bot 2.0 is a robot build using only parts from 45544 LEGO® MINDSTORMS® Education EV3 Core Set + 1 color sensor.
<br>
<br>
There is also an optional handle that can be added when the robots are used in camps or classrooms.
<br>
<br>
This robot has been tested and approved by Droids Robotics/ EV3Lessons.com
<br>
<br>
Designed by: Sanjay and Arvind Seshan
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>


                </div>

                <div role="tabpanel" class="tab-pane" id="tab11">

                    hi

                </div>

                <div role="tabpanel" class="tab-pane" id="tab12">

                    hi

                </div>
              </div>
            </div>
          </div>

          <div class="mb-60">&nbsp;</div>



            <!-- tabbed accordions -->
            <!-- <div class="col-sm-6">
              <h4 class="sub-title">&nbsp;</h4>
              <div class="panel-group tabbed">
                <div class="panel">
                  <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">First Accordion</a>
                  </div>
                  <div id="panel4" class="panel-collapse collapse">
                    <div class="panel-body text-gray">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group tabbed">
                <div class="panel">
                  <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" href="#panel5">Second Accordion</a>
                  </div>
                  <div id="panel5" class="panel-collapse collapse show">
                    <div class="panel-body text-gray">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-group tabbed">
                <div class="panel">
                  <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#panel6">Third Accordion</a>
                  </div>
                  <div id="panel6" class="panel-collapse collapse">
                    <div class="panel-body text-gray">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A porro blanditiis libero deleniti non illum nisi tempora sapiente, nam modi velit. Delectus, suscipit quis provident eligendi debitis, facilis vero deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, possimus sit officia quam quidem laboriosam, eaque nulla nihil molestias.
                    </div>
                  </div>
                </div>
              </div>
          </div> -->

          </div>
        </div>
      </div>
      <!-- tabs-accordions -->
    </div>
    <!-- Content Area End -->
    <div class="text-center">Love this UI Kit? Get more Free and Premium <a href="https://uideck.com/products/category/ui-kits/">Bootstrap UI Kits</a> </div>
